#list .card {
	margin: 1rem;
	flex-grow: 1;
	flex-shrink: 1;
}

.card.new {
	animation: flash 1s ease-out;
}

@keyframes flash {
	0% { opacity: 0; filter: brightness(2); }
	100% { opacity: 1; filter: brightness(1); }
}

#list .card p {
	font-weight: 700;
	color: #789;
}

#list .card:first-child {
	font-size: 1.2rem;
}

@media (min-width: 576px) { /* SM */
	
}

@media (min-width: 768px) { /* MD */
	.card { width: 33% }
}

@media (min-width: 992px) { /* LG */
	
}

@media (min-width: 1200px) { /* XL */
	.card { width: 25% }	
}

.text-race {
	color: #dc3545;
}

.text-class {
	color: #007bff;
}

.text-personality {
	color: #a93ce5;
}

.text-alignment {
	color: #28a745;
}

.text-background {
	color: #f0b805;
}

.emoji {
	font-size: 1.5em;
}
